@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: black;
}

body {
  color: white;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../public/peakpx.jpg"); /* 이미지 파일 경로에 맞게 수정 */
  background-size: cover;
  background-position: center;
}

.modal {
  @apply fixed inset-0 z-[100] flex items-center justify-center bg-cover-black-100;
}
.modal-container {
  @apply w-11/12 mx-auto rounded-xl shadow-lg z-50 overflow-y-auto;
}

input {
  @apply focus:outline-none;
}

.toast {
  @apply fixed top-32 right-0 z-[100] w-[400px] h-[80px] p-3 bg-purple-cyber animate-bounce;
}
.toast-container {
  @apply flex flex-col justify-center w-full h-full p-2 text-base tracking-wider font-bold text-white;
}
